@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-inline-size: 100%;
}

:root {
  --ff: "Figtree", sans-serif;
  --primary-color: hsl(47, 88%, 63%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --fw-m: 500;
  --fw-b: 800;
  --fs: 1rem;
  --fs-s: 0.875rem;
  --spacer: 1.45rem;
}

body {
  min-height: 100vh;
  font-family: var(--ff);
  font-weight: var(--fw-m);
  font-size: var(--fs);
  line-height: 1.5;
  background-color: var(--primary-color);
  color: var(--gray-950);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fw-bold {
  font-weight: var(--fw-b);
}

.small-text {
  font-size: var(--fs-s);
}

.card {
  max-width: 24rem;
  padding: var(--spacer);
  margin: var(--spacer);
  background-color: white;
  border-radius: 20px;
  border: 1px solid var(--gray-950);
  box-shadow: 7px 7px var(--gray-950);
}

.card__cover {
  border-radius: 12px;
  background-image: url(./images/illustration-article.svg);
  background-repeat: no-repeat;
  height: 12.5rem;
  background-position: center;
  background-size: cover;
}

.card__category {
  display: inline-block;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 0.3em 1em;
  margin: var(--spacer) 0 0.75rem;
}

.card__title {
  margin: 0.75rem 0;
  font-size: calc(var(--fs) * 1.5);
}

a {
  text-decoration: none;
  color: inherit;
}

a:is(:hover, :focus) {
  color: hsl(47, 88%, 63%);
}

.card__description {
  margin: 0.25rem 0 1.5rem;
  color: var(--gray-500);
}

.flex-group {
  display: flex;
  align-items: center;
}

.card__profile {
  background-image: url(./images/image-avatar.webp);
  background-size: cover;
  height: 2rem;
  width: 2rem;
  margin-right: 0.75rem;
}

@media screen and (max-width: 25rem) {
  .card__title {
    font-size: calc(var(--fs) * 1.25);
  }

  body {
    font-size: var(--fs-s);
  }

  .card__category,
  .card__date {
    font-size: calc(var(--fs-s) * 0.86);
  }
}
